# This file contains pin mappings for the stock 2020 Creality Ender 3
# Pro with the 32-bit Creality 4.2.2 board. To use this config, during
# "make menuconfig" select the STM32F103 with a "28KiB bootloader" and
# serial (on USART1 PA10/PA9) communication.

# If you prefer a direct serial connection, in "make menuconfig"
# select "Enable extra low-level configuration options" and select
# serial (on USART3 PB11/PB10), which is broken out on the 10 pin IDC
# cable used for the LCD module as follows:
# 3: Tx, 4: Rx, 9: GND, 10: VCC

# Flash this firmware by copying "out/klipper.bin" to a SD card and
# turning on the printer with the card inserted. The firmware
# filename must end in ".bin" and must not match the last filename
# that was flashed.

# See docs/Config_Reference.md for a description of parameters.

[stepper_x]
step_pin: PE2
dir_pin: !PE1
enable_pin: !PD6
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC1
position_endstop: 0
position_max: 240
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: PE0
run_current: 0.8000
hold_current: 0.800
diag_pin:
stealthchop_threshold: 0

[stepper_y]
step_pin: PE2
dir_pin: !PE1
enable_pin: !PE3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA7 
position_endstop: -12
position_min: -12
position_max: 235
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: PD3
run_current: 0.800
hold_current: 0.800
diag_pin:
stealthchop_threshold: 0

[stepper_z]
step_pin: PA15
dir_pin: PA8
enable_pin: !PD1
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_min: -10
position_max: 250

[stepper_z1]
step_pin: PD11
dir_pin: !PD10
enable_pin: !PD13
microsteps: 16
rotation_distance: 4

[tmc2209 stepper_z]
uart_pin: PD0
run_current: 0.800
hold_current: 0.800
diag_pin:
stealthchop_threshold: 0

[extruder]
max_extrude_only_distance: 1000.0
step_pin: PD15
dir_pin: !PD14
enable_pin: !PC7
microsteps: 16
rotation_distance: 18.5724
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PB3
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA2
control: pid
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
min_temp: 0
max_temp: 250
pressure_advance: .35
#PLA .35
#Silk PLA 0.4615
#.6mm PETG .55

[tmc2209 extruder]
uart_pin: PC6
run_current: 0.600
diag_pin:
stealthchop_threshold: 0

[heater_bed]
heater_pin: PD7
sensor_type: ATC Semitec 104GT-2
sensor_pin: PA1
control: pid
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 130

[heater_fan nozzle_cooling_fan]
pin: PB7
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
##  If you are experiencing back flow, you can reduce fan_speed
#fan_speed: 1.0

# Part cooling fan
[fan]
pin: PB6
ick_start_time: 0.5
##  Depending on your fan, you may need to increase this value
##  if your fan will not start. Can change cycle_time (increase)
##  if your fan is not able to slow down effectively
off_below: 0.10

[heater_fan mcu]
pin: PB5
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0
heater: heater_bed
#heater_temp: 60
fan_speed: 1.0

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_210056000550415339373620-if00


[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 4000
max_z_velocity: 5
max_z_accel: 100

#Pin mappings for BL_T port
[bltouch]
sensor_pin: ^PE4
control_pin: PE5
x_offset: -57
y_offset: -10
#z_offset: 0
speed: 5.0
samples: 2
sample_retract_dist: 10
[safe_z_home] 
home_xy_position: 117.5,117.5 # Change coordinates to the center of your print bed
z_hop: 10                 # Move up 10mm z_hop_speed: 5

[bed_mesh]
speed: 80
horizontal_move_z: 10
mesh_min: 18,18
mesh_max: 175,202
probe_count: 5,5
algorithm: bicubic

[screws_tilt_adjust]
screw1: 89,62
screw1_name: front left screw
screw2: 240,62
screw2_name: front right screw
screw3: 240,225
screw3_name: rear right screw
screw4: 89,225
screw4_name: rear left screw
horizontal_move_z: 10
speed: 50
screw_thread: CW-M4

[z_tilt]
z_positions: 300, 175
    5,175
points: 300, 175
    5,175
speed: 50
horizontal_move_z: 10
retries: 10
retry_tolerance: 0.01

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>

[display]
lcd_type: emulated_st7920
spi_software_miso_pin: PD8 # status led, Virtual MISO
spi_software_mosi_pin: PD6
spi_software_sclk_pin: PB9
en_pin: PB8
encoder_pins: ^PA10, ^PA9
click_pin: ^!PA15
 
[output_pin beeper]
pin: PB5

[virtual_sdcard]
path: ~/gcode_files

[display_status]

[pause_resume]
recover_velocity: 50.0
 
[include macro.cfg]

[include mainsail.cfg]

[include timelapse.cfg]

[mcu rpi]
serial: /tmp/klipper_host_mcu

[adxl345]
cs_pin: rpi:None

[resonance_tester]
accel_chip: adxl345
probe_points:
    100, 100, 20  # an example

[input_shaper]
#shaper_freq_x: 99.6
#shaper_type_x: mzv
#shaper_freq_y: 67.4
#shaper_type_y: mzv


[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100
